.logo{
	height:1.5625em;
	width:1.5625em;
	border-radius: 100%;
	border: .1875em solid white;
	box-shadow: 0 0 0 .3125em black;
	background-color: black;
	float:right;

}
#leftside{
	float: left;
	padding-right:1.5625em;
	width: 6.25em;
	padding-left: 0px;
	margin: 0px;
	display: inline-block;
	height: 100%;
	position: fixed;
	left:0px;
	top:0px;
	border-right:.0625em solid #eee;


}
#main{
	margin-left: 7.8125em;
	padding-left: 7.8125em;
	display: inline-block;
	margin-right: 0px;
	padding-right: 7.8125em;
	width: 35%;
	border-right:.0625em solid #eee;

}
#logobox{
	margin-left: 3.75em;
	margin-top: 2.5em;
	margin-right: 1.875em;
	margin-bottom: 2.5em;
	padding: 0; 
	width: 1.875em;
	height: 1.875em;
}
#aside{
	margin-left: 0px;
	padding-left:1.5625em;
	padding-right:1.5625em;
	display: inline-block;
	width: 20%;
	position: absolute;

}
#rightside{
	margin-left: 0px;
	margin-right: 0px;
	padding-left:.625em;
	padding-right: 0px;
	float: right;
	width:2.8125em;
	height: 43.75em;
	display: inline-block;
	padding: 0px;
	margin: 0px;
	position: fixed;
	right: 0px;
	top: 0px;
	border-left:.0625em solid #eee;
	padding-right:1.5625em;
}
#leftlist{
	text-align: right;
}
#rightverticle{
	-webkit-transform: rotate(90deg);
	margin-top: 3.125em;
	margin-left: 1.25em;
	font-family: 'proxima-nova','Helvetica','Avenir','Arial',sans-serif;
	color: #000
}
h1{
	font-size: 2.1875em;
	font-family: 'freight-sans-pro';
	color: #acacac;
	font-weight: 100;
}
p, blockquote{
	font-family: 'proxima-nova', 'Helvetica', 'Avenir', 'Arial', sans-serif;
	color:#4d4d4d;
	font-size: 1.125em;
}
article p{
	color: #797979;
	text-decoration: none;
	font-size: .875em;
}
article h4{
	font-family: 'freight-sans-pro';
	font-weight: 700;
	font-size: .875em;
	color: #797979;
	text-decoration: none;
}
article h3{
	font-family: 'proxima-nova', 'Helvetica', 'Avenir', 'Arial', sans-serif;
	font-size: 1.3125em;
	color: #797979;
	text-decoration: none;
}
.title a{
	color:#000;
	font-weight: 700;
	font-family: 'freight-sans-pro';
	font-size: 1.1111111111111111111111111111em;
	line-height: 1.0833333333333333333333333em;
	margin-bottom:..2777777777777777777em;
	text-decoration: none;
}
.mainarticle h2 a{
	color: #1a8ece;
	font-weight: 800;
	font-family: 'freight-sans-pro';
	font-size:.708333333333333333333333em;
	letter-spacing:..0416666666666666667em;
	text-decoration: none;
}
#leftlist a{
	font-size:.9375em;
	color: #acacac;
	line-height:1.0625em;
	text-decoration: none;
}
.mainarticle{
	border-bottom:.0625em solid #eee;
	padding-right:.625em;
	padding-left:.625em;
}
#symbol{
	height:1.5625em;
	width:1.5625em;
	border: .1875em solid white;
	box-shadow: 0 0 0 .3125em black;
	border-radius: 100%;
	margin-top:.625em;	
	margin-left: 1.25em;
}
#symbol img{
	margin-top: .4375em;
	margin-left: .2em;

}
span{
	color: #000;
	font-family: 'freight-sans-pro';
	font-weight: 900;
	font-size: .9375em;
}
#leftlist p a:hover{
	font-weight: 700;
	color: #000;
}
.mainarticle a:hover{
	color: #1a8ece;
	text-decoration: none;
}
.buttonize{
	color: white;
	background-color: black;
	text-decoration: none;
	padding-top: .25em;
	padding-bottom: .25em;
	padding-left: 1.25em;
	padding-right: 2.5em;
	border-radius: 5%;
}
a.buttonize:hover{
	background-color: blue;
	color: white;
}

article a:hover{
	text-decoration: none;
}
article a{
	text-decoration: none;
}
#aside h3:hover, #aside h4:hover{
	color: blue;
}
